.BodiesSelector {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.BodiesSelector_section {
	display: grid;
	justify-items: center;
	gap: 5px 0;
	overflow: scroll;
	max-height: 170px;
	margin-bottom: 5px;
}

.BodyEditor {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.FileLoader {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 150px;
}

.FileLoader button {
	width: 100%;
}

.FileLoader input {
	width: 100%;
}

.FileLoader .map_selector {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	overflow-x: hidden;
	width: 150px;
	max-height: 620px;
}

.map_selector .selected {
	text-decoration: underline;
}

.map_selector label {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.FileLoader .map_selector label:hover {
	color: red;
}

.AdminRadarSection {
	display: flex;
	flex-direction: column;
	width: 620px;
	border: 1px solid;
}

.BodiesInteractorSection {
	width: 100%;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
}

.bodySelectorWidget {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 5px;
	width: fit-content;
	height: fit-content;
}

.bodySelectorWidget button {
	align-self: center;
}
